# Dependency directories
node_modules
/npm-debug.log*

# Build directories
.next
out
dist

# Environment variables files
.env*.local
.env

# Git / IDE
.git
.gitignore
.vs
.vscode

# Docker / deployment files
Dockerfile
docker-compose*.yml
.dockerignore
README.md
